<div id="headerContainer">
  <div id="header">
        <div id="title">
          <a href="/webprogramming/">Start</a>
        </div>

        <div id="lessonNavContainer">
          <nav id = "lessonNav">
            <a href="webcomputing/hallo.html" class="lessonButton" data-index="0"><sub>1</sub> <span>Hallo</span></a>
            <a href="webcomputing/form.html" class="lessonButton" data-index="1"><sub>2</sub> <span>Form</span></a>
            <a href="webcomputing/farbe.html" class="lessonButton" data-index="2"><sub>3</sub> <span>Farbe</span></a>
            <a href="webcomputing/interaktion.html" class="lessonButton" data-index="3"><sub>4</sub> <span>Interaktion</span></a>
            <a href="webcomputing/zufallsbilder.html" class="lessonButton" data-index="4"><sub>5</sub> <span>Zufallsbilder</span></a>
            <a href="webcomputing/visuelle_effekte.html" class="lessonButton" data-index="5"><sub>6</sub> <span>Visuelle Effekte</span></a>
            <a href="webcomputing/spinnweben.html" class="lessonButton" data-index="6"><sub>7</sub> <span>Spinnweben</span></a>
          </nav>
        </div>

        <nav id = "pageNav">
          <a href="about/" class="aboutButton">About</a>
          <a href="guide/" class="guideButton">Guide</a> 
        </nav>         

  </div>
</div>